Gemfile.lock

_site/
.sass-cache/
.jekyll-metadata

.DS_Store
*.DS_Store
*.asset-cache
*.sass-cache
/_site/*
# Removed bower dependency
# /_assets/bower/*
/node_modules
assets/
.bundle

media/images/4ePesoVecinas.jpg
media/videos

secret.json