<div id="press-materials" class="row section ">

    <!-- Publications & Catalogs -->
    <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0 yearly"> 

      <h2>Publications & Catalogs</h2>

      {% include components/about-outcomes-publications.html %}

    </div>

    <!-- Interviews & Articles -->
    <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 yearly"> 

      <h2>Interviews & Articles</h2>

      {% include components/about-outcomes-articles.html %}

      <hr/>

      <h2>More Press</h2>
      <h3>All time</h3>

      {% include components/about-outcomes-press.html %}


    </div>


</div> <!-- #press-materials -->