<div id="bio-outcomes" class="row section bio-outcomes">

	<!-- Awards, Grants & Residencies -->
	<!-- Solo Exhibitions -->
	<!-- Group Exhibitions -->  
	<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0 yearly">        
	  <h2>Solo Exhibitions</h2>
	  {% include components/bio-solo-expos.html %}
	  <hr/>
	  <h2>Group Exhibitions</h2>
	  {% include components/bio-group-expos.html %}
	  <hr/>
	  <h2>Awards, Grants & Residencies</h2>
	  {% include components/bio-awards.html %}

	</div>

	<!-- Performatic talks, presentations & conferences -->
	<!-- Workshops and Directed Activities -->
	<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-2 yearly">   
	  <h2>Performatic talks, Presentations & Conferences</h2>
	  {% include components/bio-talks.html %}
	  <hr/>
	  <h2>Workshops & Directed Activities</h2>
	  {% include components/bio-workshops.html %}
	</div>

</div>

<div id="bio-education" class="row section">    
	<div class="col-xs-12  yearly">   
	  <h1 class="title text-center">Education</h1>
	</div>
	<!-- Education ART -->
	<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0 yearly">   
	  <h2>Art education</h2>
	  {% include components/bio-art-edu.html %}
	</div>
	
	<!-- Professional Education -->
	<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-2 yearly">   
	  <h2>Professional education</h2>
	  {% include components/bio-pro-edu.html %}
	</div>
</div> <!-- #education -->

<div id="bio-thanks" class="row section">    
	<!-- People I owe a lot / Thanks to… -->
	<div class="col-xs-12 col-md-8 col-md-offset-2 people">   
	  <h1 class="title text-center">People I owe a lot</h1>
	  {% include components/bio-people.html %}
	</div>
</div>