{% if work.featured_image %}
  <a href="{{ work.url | prepend: site.baseurl }}" class="thumb">
    <img class="img-responsive duotone" data-gradient-map="#ed1c24, rgb(255, 255, 255) 60%" src="{{ work.featured_image | prepend: site.baseurl }}" alt="{{ work.title }}" title="{{ work.title }}" />
    <img class="img-responsive original" src="{{ work.featured_image | prepend: site.baseurl }}" alt="{{ work.title }}" title="{{ work.title }}" />
  </a>
{% endif %}

<h3><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></h3>        
{{ work.intro | markdownify }}

{% if work.home_call %}                  
  <p><a class="more" href="{{ work.home_url }}">{{ work.home_call }}</a></p>

{% endif %}   



