<!-- @todo: sort by work.date desc -->
		{% assign sorted_works = (site.works | sort: 'date' | reverse ) %}

		{% for work in sorted_works %}
			{% unless work.url == include.param1 %}
			{% capture currentmod %}{{ forloop.index0 | mod:3 }}{% endcapture %}
				{% if currentmod == '0' or forloop.first %}
				<div class="row">
				{% endif %}

						<div class="work col-xs-12 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0 ">  
							<div class="inside">
						  {% include components/works-teaser.html %}				  
							</div>
						</div>

				<!-- Modulo 3 equals 0, only -->
				{% if currentmod == '2' or forloop.last %}
					  <!-- <div class="clearfix visible-lg-block col-lg-12">&nbsp;</div> -->
				</div>
     		{% endif %}


	    {% endunless %}
		{% endfor %}
